p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Poppins;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  position: relative;
}

.header {
  padding-top: 23px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__link {
  display: flex;
  align-items: center;
}
.header__button {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url(../images/hero-background.webp);
  padding-top: 121px;
  padding-bottom: 220px;
}
.hero__box {
  width: 616px;
}
.hero__text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 22px;
}
.hero__title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.23;
  animation-name: text-run;
  animation-duration: 3s;
}
.hero__description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 45px;
}
.hero__link {
  color: #ffd723;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}

.partners {
  padding: 60px 0px 54px;
  position: absolute;
  top: 650px;
  right: 0px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
  animation-name: run-list;
  animation-duration: 3s;
}
.partners__list {
  display: flex;
  justify-content: center;
  gap: 66px;
}

.work {
  padding-bottom: 150px;
}
.work__container {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.work__article {
  padding-top: 234px;
  max-width: 475px;
  height: 366px;
}
.work__text {
  color: rgba(77, 83, 60, 0.9);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 29px;
}
.work__title {
  color: #4d533c;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.27;
  margin-bottom: 35px;
}
.work__desc {
  color: rgba(77, 83, 60, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  margin-bottom: 42px;
}
.work__link {
  color: #d4d6d4;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
.work__info {
  color: #4d533c;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.66;
  margin-bottom: 50px;
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 8px;
}
.work__art {
  width: 474px;
  background: #fff;
  box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 73px;
  padding-left: 40px;
  padding-right: 8px;
  padding-top: 120px;
  padding-bottom: 60px;
}
.work__box {
  display: flex;
  align-items: center;
}
.work__subarticle {
  display: flex;
  flex-direction: column;
}
.work__subject {
  color: #4d533c;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
}
.work__founder {
  color: #152934;
  font-size: 16px;
  font-weight: 400;
}

.project {
  padding-top: 150px;
  padding-bottom: 150px;
}
.project__article {
  padding-top: 80px;
  padding-bottom: 73px;
}
.project__item {
  height: 550px;
  position: relative;
  margin-top: 165px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 96px;
}
.project__item:first-child {
  margin-top: 0;
}
.project__item:nth-child(even) {
  justify-content: start;
}
.project__photo {
  right: 575px;
  top: 0;
  position: absolute;
}
.project__item:nth-child(even) .project__photo {
  left: 535px;
}
.project__content {
  margin-bottom: 104px;
  display: flex;
  align-items: center;
  gap: 133px;
}
.project__title {
  color: #4d533c;
  width: 325px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  flex-shrink: 0;
}
.project__paragraph {
  color: rgba(77, 83, 60, 0.9);
  width: 518px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}
.project__box {
  width: 475px;
  flex-shrink: 0;
}
.project__subarticle {
  position: absolute;
  z-index: 2;
  top: 734px;
  width: 453px;
  height: 243px;
  background-color: #fff;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 30px 30px 29px 33px;
}
.project__image {
  width: 46px;
  height: 46px;
}
.project__item:first-child .project__subarticle, .project__item:nth-child(3) .project__subarticle {
  top: 372px;
  right: 531px;
}
.project__item:nth-child(2) .project__subarticle {
  top: 342px;
  left: 493px;
}
.project__text {
  color: #4d533c;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.62;
}
.project__name {
  color: #4d533c;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.project__position {
  color: #152934;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.project__subtitle {
  color: #4d533c;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
}
.project__description {
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 90px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}
.project__link {
  color: #d4d6d4;
  font-size: 16px;
  font-weight: 700;
}

.advantages {
  padding-top: 149px;
  padding-bottom: 150px;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  width: 255px;
  padding-left: 30px;
  padding-top: 27px;
  padding-right: 42px;
  padding-bottom: 36px;
}

.advantages-text-block {
  display: block;
}

.advantages-title {
  color: #4d533c;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.27;
  width: 606px;
  padding-bottom: 87px;
}

.advantages-name {
  color: #4d533c;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.41;
  text-transform: uppercase;
  width: 183px;
  height: 63px;
  margin-bottom: 20px;
}

.advantages-text {
  color: rgba(33, 56, 66, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  margin-bottom: 56px;
}

.advantages-link {
  color: #d4d6d4;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.41, 0.33, 0.46, 0.93);
}

.advantages-link:hover {
  color: #ffd723;
}

.footer {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #4d533c;
}

.footer-contacts {
  display: flex;
  gap: 128px;
  margin-bottom: 52px;
}

.footer-list {
  display: flex;
  margin-top: 60px;
}

.footer-item:first-child {
  margin-right: 78px;
}

.footer-item:nth-child(2) {
  margin-right: 100px;
}

.footer-item:not(:last-child) {
  width: 160px;
}

.footer-item-title {
  margin-bottom: 21px;
}

.footer-text {
  color: #b6c197;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
}

.footer-address {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
  font-style: normal;
}

.footer-item:last-child {
  border-left: solid 1px #4d533c;
  padding-left: 110px;
  width: 322px;
}

.footer-item {
  flex-shrink: 0;
}

.footer-line {
  height: 1px;
  background-color: #4d533c;
  margin-top: 60px;
}

.footer-link {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.footer-item-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.37;
  text-transform: uppercase;
}

.footer-item-link {
  color: #b6c197;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
}

.footer-item-text {
  color: #b6c197;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}

.footer-item-email {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.58;
  margin-top: 23px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confidential-info {
  color: #b6c197;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */