.advantages {
  @include section-padding($top: 149px, $bottom: 150px);

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: 255px;
    padding-left: 30px;
    padding-top: 27px;
    padding-right: 42px;
    padding-bottom: 36px;
  }

  &__text-block {
    display: block;
  }

  &__title {
    color: $title-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.27;
    width: 606px;
    padding-bottom: 87px;
  }

  &__name {
    color: $title-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.41;
    text-transform: uppercase;
    width: 183px;
    height: 63px;
    margin-bottom: 20px;
  }

  &__text {
    color: $description-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
    margin-bottom: 56px;
  }

  &__link {
    color: $links-color;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    @include animations ($property: color);

    &:hover {
      color: $accent-color;
    }
  }
}
