.footer {
  @include section-padding($top: 120px, $bottom: 30px);
  background-color: $title-color;


  &__contacts {
    display: flex;
    gap: 128px;
    margin-bottom: 52px;
  }

  &__text {
    color: $footer-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
  }

  &__address {
    color: $text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5;
    font-style: normal;
  }

  &__line {
    height: 1px;
    background-color: $title-color;
    margin-top: 60px;
  }

  &__list {
    display: flex;
    margin-top: 60px;
  }

  &__item {
    flex-shrink: 0;

    &:first-child {
      margin-right: 78px;
    }

    &:nth-child(2) {
      margin-right: 100px;
    }

    &:not(:last-child) {
      width: 160px;
    }

    &:last-child {
      border-left: solid 1px $title-color;
      padding-left: 110px;
      width: 322px;
    }
  }

  &__title {
    color: $text-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.37;
    text-transform: uppercase;
  }

  &__sublink {
    color: $footer-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
  }

  &__subtext {
    color: $footer-text;
    @extend %text;
  }

  &__email {
    display: block;
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.58;
    margin-top: 23px;
  }

  &__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  &__info {
    color: $footer-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
}