.offer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .offer-title {
    color: var(--title-color);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.23;
    margin-bottom: 50px;
    width: 822px;
  }
  
  .offer-text {
    color: var(--links-color);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
  }