.partners {
  padding: 60px 0px 54px;
  position: absolute;
  top: 650px;
  right: 0px;
  border-radius: 2px;
  background: $text-color;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
  animation-name: run-list;
  animation-duration: 3s;

  &__list {
    display: flex;
    justify-content: center;
    gap: 66px;
  }
}
