.work {
  @include section-padding($bottom: 150px);

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 160px;
  }

  &__article {
    padding-top: 234px;
    max-width: 475px;
    height: 366px;
  }

  &__text {
    color: $info-color;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 29px;
  }

  &__title {
    color: $title-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.27;
    margin-bottom: 35px;
  }

  &__desc {
    color: $info-color;
    @extend %text;
    margin-bottom: 42px;
  }

  &__link {
    color: $links-color;
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline;
  }

  &__info {
    color: $title-color;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.66;
    margin-bottom: 50px;
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 8px;
  }

  &__art {
    width: 474px;
    background: $text-color;
    box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 73px;
    padding-left: 40px;
    padding-right: 8px;
    padding-top: 120px;
    padding-bottom: 60px;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__subarticle {
    display: flex;
    flex-direction: column;
  }

  &__subject {
    color: $title-color;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  &__founder {
    color: $article-text;
    font-size: 16px;
    font-weight: 400;
  }
}
