:root {
  --accent-color: #ffd723;
  --text-color: #fff;
  --title-color: #4d533c;
  --description-color: rgba(33, 56, 66, 0.6);
  --info-color: rgba(77, 83, 60, 0.9);
  --links-color: #d4d6d4;
  --article-text: #152934;
  --footer-text: #b6c197;
}
body {
  font-family: Poppins;
}

/* header */
header {
  background-color: black;
}

/* hero */
.hero {
  background-image: url(./images/hero-background.webp);
}

.hero-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.hero-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
}

.hero-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.hero-link {
  color: #ffd723;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
/* work */
.work-text {
  color: rgba(77, 83, 60, 0.9);
  font-size: 14px;
  font-weight: 400;
}
.work-title {
  color:var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
}
.work-desc {
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.work-link {
  color:var(--links-color);
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
.work-info {
  color:var(--title-color);
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}
.work-subject {
  color:var(--title-color);
  font-size: 22px;
  font-weight: 700;
 ;
}
.work-founder {
  color: var(--article-text);
  font-size: 16px;
  font-weight: 400;
  
}
