:root {
  --accent-color: #ffd723;
  --text-color: #fff;
  --title-color: #4d533c;
  --description-color: rgba(33, 56, 66, 0.6);
  --info-color: rgba(77, 83, 60, 0.9);
  --links-color: #d4d6d4;
  --article-text: #152934;
  --footer-text: #b6c197;
}
body {
  font-family: Poppins;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  padding-top: 23px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-button {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
}

/* hero */
.hero {
  background-image: url(../images/hero-background.webp);
  padding-top: 121px;
  padding-bottom: 220px;
}
.hero-box {
  width: 616px;
}
.hero-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 22px;
}

.hero-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.23;
}

.hero-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 45px;
}

.hero-link {
  color: #ffd723;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
/* section partners */
.partners {
  padding: 60px 0px 54px;
  position: absolute;
  top: 650px;
  right: 0px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
}
main {
  position: relative;
}
.partners-list {
  display: flex;
  justify-content: center;
  gap: 66px;
}
/* work */

.work {
  padding-bottom: 150px;
}
.work-container {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}

.work-article {
  padding-top: 234px;
  max-width: 475px;
  height: 366px;
}

.work-text {
  color: rgba(77, 83, 60, 0.9);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 29px;
}
.work-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.27; /* 127.778% */
  margin-bottom: 35px;
}
.work-desc {
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
  margin-bottom: 42px;
}
.work-link {
  color: var(--links-color);
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
.work-info {
  color: var(--title-color);
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  margin-bottom: 50px;
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 8px;
}
.work-art {
  width: 474px;
  background: #fff;
  box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 73px;
  padding-left: 40px;
  padding-right: 8px;
  padding-top: 120px;
  padding-bottom: 60px;
}

.work-box {
  display: flex;
  align-items: center;
}
.person-article {
  display: flex;
  flex-direction: column;
}

.work-subject {
  color: var(--title-color);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
}
.work-founder {
  color: var(--article-text);
  font-size: 16px;
  font-weight: 400;
}
.project {
  padding-top: 150px;
  padding-bottom: 150px;
}
.project-article {
  padding-top: 80px;
  padding-bottom: 73px;
}
.project-item {
  height: 550px;
  position: relative;
  margin-top: 165px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: end;
  align-items: center;
}
.project-item:first-child {
  margin-top: 0;
}
.project-item:nth-child(even) {
  justify-content: start;
}
.project-photo {
  right: 500px;
  top: 0;
  position: absolute;
}
.project-item:nth-child(even) .project-photo {
  right: -130px;
}
.project-content {
  margin-bottom: 104px;
  display: flex;
  align-items: center;
  gap: 133px;
}
.project-title {
  color: var(--title-color);
  width: 325px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  flex-shrink: 0;
}
.project-paragraph {
  color: var(--info-color);
  width: 518px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}
.project-box {
  width: 475px;
  flex-shrink: 0;
}
.project-subarticle {
  position: absolute;
  z-index: 2;
  left: 158px;
  top: 734px;
  width: 453px;
  height: 243px;
  background-color: #fff;
}
.project-text {
  color: var(--title-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}
.project-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.project-position {
  color: var(--article-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.project-subtitle {
  color: var(--title-color);
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}

.project-description {
  color: var(--description-color);
  margin-bottom: 90px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.project-link {
  color: var(--links-color);
  font-size: 16px;
  font-weight: 700;
}

/* section advantages */

.advantages {
  padding-top: 149px;
  padding-bottom: 150px;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  width: 255px;
  padding-left: 30px;
  padding-top: 27px;
  padding-right: 42px;
  padding-bottom: 36px;
}

/* .advantages-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: solid red 1px;
  width: 100%;

} */

.advantages-text-block {
  display: block;
}

.advantages-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.27; /* 127.778% */
  width: 606px;
  padding-bottom: 87px;
}

.advantages-name {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.41; /* 141.667% */
  text-transform: uppercase;
  width: 183px;
  height: 63px;
  margin-bottom: 20px;
}

.advantages-text {
  color: var(--description-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  margin-bottom: 56px;
}

.advantages-link {
  color: var(--links-color);
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

.advantages-link:hover {
  color: var(--accent-color);
}

/* section offer */

.offer {
  padding-top: 70px;
  padding-bottom: 70px;
}
.offer-title {
  color: var(--title-color);
  font-size: 60px;
  font-weight: 700;
  line-height: 1.23; /* 123.333% */
  margin-bottom: 50px;
  width: 822px;
}

.offer-text {
  color: var(--links-color);
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* section footer */

footer {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #4f553d;
}

.footer-contacts {
  display: flex;
  gap: 128px;
  margin-bottom: 52px;
}

.footer-contact {
}

.footer-list {
  display: flex;
  margin-top: 60px;
}

.footer-item:first-child {
  margin-right: 78px;
}

.footer-item:nth-child(2) {
  margin-right: 100px;
}

.footer-item:not(:last-child) {
  width: 160px;
}

.footer-item-title {
  margin-bottom: 21px;
}

.footer-text {
  color: var(--footer-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5; /* 250% */
}

.footer-address {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5; /* 250% */
  font-style: normal;
}

.footer-item:last-child {
  border-left: solid 1px #5d6544;
  padding-left: 110px;
  width: 322px;
}

.footer-item {
  flex-shrink: 0;
}

.footer-line {
  height: 1px;
  background-color: #5d6544;
  margin-top: 60px;
}

.footer-link {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.footer-item-title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 2.37; /* 237.5% */
  text-transform: uppercase;
}

.footer-item-link {
  color: var(--footer-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5; /* 250% */
}

.footer-item-text {
  color: var(--footer-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.footer-item-email {
  display: block;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.58; /* 158.333% */
  margin-top: 23px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confidential-info {
  color: var(--footer-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
