:root {
  --accent-color: #ffd723;
  --text-color: #fff;
  --title-color: #4d533c;
  --description-color: rgba(33, 56, 66, 0.6);
  --info-color: rgba(77, 83, 60, 0.9);
  --links-color: #d4d6d4;
  --article-text: #152934;
  --footer-text: #b6c197;
}
body {
  font-family: Poppins;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  border: red solid 2px;
}

/* header */
.header {
  background-color: black;
  padding-top: 23px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-button {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
display: flex;
align-items: center;
}

/* hero */
.hero {
  background-image: url(./images/hero-background.webp);
}

.hero-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.hero-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.23;
}

.hero-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.hero-link {
  color: #ffd723;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
/* work */
.work-text {
  color: rgba(77, 83, 60, 0.9);
  font-size: 14px;
  font-weight: 400;
}
.work-title {
  color:var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.27; /* 127.778% */
}
.work-desc {
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}
.work-link {
  color:var(--links-color);
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}
.work-info {
  color:var(--title-color);
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}
.work-subject {
  color:var(--title-color);
  font-size: 22px;
  font-weight: 700;
 ;
}
.work-founder {
  color: var(--article-text);
  font-size: 16px;
  font-weight: 400;
  
}
.project-title{
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}
.project-paragraph{
  color:var(--info-color);
font-size: 16px;
font-weight: 400;
line-height: 1.62; /* 162.5% */
}
.project-text {
  color:var(--title-color);
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 1.62; /* 162.5% */
}
.project-name{
  color:var(--title-color);
font-size: 16px;
font-weight: 700;
line-height: 1.5;
}
.project-position{
  color: var(--article-text);
font-size: 14px;
font-weight: 400;
line-height:1.5;
}
.project-subtitle{
  color: var(--title-color);
font-size: 36px;
font-weight: 700;
line-height: 1.33; /* 133.333% */
}

.project-description{
  color: var(--description-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.project-link{
  color: var(--links-color);
font-size: 16px;
font-weight: 700;
}

/* section advantages */

.advantages-title{
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.27; /* 127.778% */
}

.advantages-name{
  color: var(--title-color);
font-size: 24px;
font-weight: 500;
line-height: 1.41; /* 141.667% */
text-transform: uppercase;
}

.advantages-text{
  color: var(--description-color);
font-size: 14px;
font-weight: 400;
line-height: 1.85; /* 185.714% */
}

.advantages-link{
  color: var(--links-color);
font-size: 16px;
font-weight: 700;
text-decoration-line: underline;
}

.advantages-link:hover{
  color: var(--accent-color); 
}

/* section offer */

.offer-title{
  color: var(--title-color);
font-size: 60px;
font-weight: 700;
line-height: 1.23; /* 123.333% */
}

.offer-text{
  color: var(--links-color);
font-size: 16px;
font-weight: 700;
text-decoration-line: underline;
}

/* section footer */

.footer-text{
  color: var(--footer-text);
font-size: 16px;
font-weight: 400;
line-height: 2.5; /* 250% */
}

.footer-contact{
  color: var(--text-color);
font-size: 16px;
font-weight: 700;
line-height: 2.5; /* 250% */
}

.footer-item-title{
  color: var(--text-color);
font-size: 16px;
font-weight: 600;
line-height: 2.37; /* 237.5% */
text-transform: uppercase;
}

.footer-item-link{
  color: var(--footer-text);
font-size: 16px;
font-weight: 400;
line-height: 2.5; /* 250% */
}

.footer-item-text{
  color: var(--footer-text);
font-size: 16px;
font-weight: 400;
line-height: 1.62; /* 162.5% */
}

.footer-item-email{
  color: var(--text-color);
font-size: 24px;
font-weight: 700;
line-height: 1.58; /* 158.333% */
}

.confidential-info{
  color: var(--footer-text);
font-size: 14px;
font-weight: 400;
line-height: 1.5;
}
